.homepage-container{
  text-align: center;
}
.category-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem 0;
  width: 100%;
  transition: 0.5s all ease-in-out;

}
.category-card:hover {
  border-bottom: 2px solid black;
}
.banner-container {
  margin: auto;
  width: 98%;
  position: relative;
}

.banner-hero>img{
  object-fit: cover;
  width: 100%;
  height: 88vh;
}
.banner-text{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 3rem;
  background-color: rgba(83,77,69,.7);
color: coral;
}
.banner-text>span>button{
  background-color: #ffff00;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff8000'/%3E%3Cstop offset='1' stop-color='%23ff8000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2300ff19'/%3E%3Cstop offset='1' stop-color='%2300ff19' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239900ff'/%3E%3Cstop offset='1' stop-color='%239900ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffff00'/%3E%3Cstop offset='1' stop-color='%23ffff00' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
border-radius: 5px;
}

button:hover{
  transition: all 0.5s ease;
  transform: scale(1.1);
}
.featured-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}
.card-container-vertical {
  width: 20rem;
  border-radius:1rem;
  border: 1px solid black;
  border-radius: 1rem;
  transition: all 0.5s ease;
}
.card-container-vertical:hover{
  transform: scale(1.1);

}
.card-container-vertical img {
  width: 35%;
  object-fit: contain;
}
.card-vertical-title {
  justify-content: space-evenly;
  align-items: center;
}
.card-price {
  margin: 0;
}
.discount {
  color: var(--warn-color);
  align-self: center;
}
.button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 0 0.5rem;
}
.black-button {
  background-color: var(--black-color);
  color: var(--white-color);
}
.outline-button.black-button {
  background-color: var(--white-color);
  color: var(--black-color);
}
.category-card {
  display: flex;
  flex-direction: column;
}
.category-card .bottom-name {
  align-self: center;
  font-size: 1.2rem;
  padding: 1rem;
  letter-spacing: 1px;
}
.heading {
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 2rem;
  padding: 1rem;
}


@media screen and (max-width: 500px) {
  .category-card {
    width: 40%;
  }
  .bottom-column {
    width: 25%;
  }
  .banner-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  
}
