.main-content {
  display: flex;
  margin-bottom: 3rem;
}

.product-content {
  width: 75%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.card-container-portrait {
  height: max-content;
  position: relative;
  width: 20rem;
  box-shadow: none;
  padding: 1rem;
  border: 1px solid var(--gray-color);
  border-radius: 0;
}
.image-container {
  padding: 1rem;
  margin: 0%;
  background-color: var(--white-color);
}
.card-container-portrait:hover {
  border: 1px solid var(--black-color);
  transition: 0.3s border ease-in-out;
}
.bottom-responsive-button {
  display: none;
}
.card-price,
.card-title {
  margin: 0 1rem;
}
.price {
  width: 80%;
}
.product-card-icon {
  font-size: 1.5rem;
}
.tag-image-right {
  top: 1rem;
  right: 0.3rem;
}
.new-tag {
  background-color: var(--warn-color);
}
.floating-button {
  color: var(--warn-color);
  box-shadow: none;
}
.floating-button:active {
  color: var(--black-color);
}
.rating-container-item {
  top: 3rem;
  display: flex;
  align-items: center;
  gap: 5px;
}
@media only screen and (max-width: 500px) {
  .sidebar {
    display: none;
  }
  .product-content {
    width: 90%;
    margin: auto;
  }
  .card-container-portrait {
    width: 90%;
  }
  .bottom-responsive-button {
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    display: flex;
    font-size: 2rem;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    border-top: 2px solid black;
    margin-top: 1rem;
    padding: 1rem 0;
    cursor: pointer;
    background-color: var(--warn-color);
  }
}
