.navbar{
  margin: 0;
  padding: 1rem 2rem;
width: 100%;
}
.brand-logo{
height: 3rem;
width: 3rem;
margin-right: 10px;
}
.brand-name {
  letter-spacing: 0.2rem;
}
.right-nav .link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.badge {
  margin: 10px;
}
.badge-no-right {
  background-color: var(--warn-color);
  left: 1.5rem;
  font-size: 1rem;
}
.nav-icon {
  font-size: xx-large;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .navbar{
    padding: 1rem 0.5rem;
  }
  .navbar-username{
    display: none;
  }
  .brand-name{
    display: none;
  }
}
