.wishlist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  padding: 2rem;
}
.card-container-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid var(--gray-color);
  gap: 2rem;
  width: 25%;
}
.card-title {
  margin-left: 1rem;
}
.floating-button {
  color: var(--error-color);
}
.card-img {
  position: relative;
}
@media only screen and (max-width: 800px) {
  .card-container-item {
    width: 20rem;
  }
}
